

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/home/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/reference">Reference</a>
            </li>
        </ul>
    </nav>

    <div class="card text-center">
        <div class="card-header">
            Projects
        </div>

    </div>


    <div>
        <ul>
            <P><u>OOP1</u></P>
            <p> Project name : AIUB-PORTAL-CONSOLE-APPLICATION-</p>
            <p> Project Link : <a href="https://github.com/mdjawadulhasan/AIUB-PORTAL-CONSOLE-APPLICATION"> Github Link</a></p>
            <p> Project Description : This is a University Portal App with three users: admin, faculty and student.</p>

        </ul>


        <ul>
            <P><u>OOP2</u></P>
            <p>Project name :Health-Management-Desktop-App-</p>
            <p> Project Link : <a href="https://github.com/mdjawadulhasan/Health-Management-Desktop-App"> Github Link</a></p>
            <p> Project Description : This is a Desktop App with three users: Doctor, admin, and patient. It reduces the complexity of managing personal health data.</p>

        </ul>


        <ul>
            <P><u>Web Tech</u></P>
            <p> Project name :Health-Application-</p>
            <p> Project Link : <a href="https://github.com/mdjawadulhasan/Health-Application"> Github Link</a></p>
            <p> Project Description : This is a web App with three users: Doctor, admin, and patient. It reduces the complexity of managing personal health data.</p>
        </ul>

        <ul>
            <P><u>Java JSP Servlet</u></P>
            <p> Project name :Electronic-Voting-Machine-System-</p>
            <p> Project Link : <a href="https://github.com/mdjawadulhasan/Electronic-Voting-Machine-System"> Github Link</a></p>
            <p> Project Description : This is a web App with three users: voter, admin, and candidate. It covers the entire election process along with the voter and candidate registration process</p>
        </ul>

        <ul>
            <P><u>Java Spring</u></P>
            <p>
                Project name :
                University-Management-Project-
            </p>
            <p> Project Link : <a href="https://github.com/mdjawadulhasan/University-Management-Project"> Github Link</a></p>
            <p> Project Description : This is a web App with three users: faculty,student,admin. It allows doing essential basic works of an EMS system.</p>
        </ul>



    </div>


</body>
</html>


